
.dv-footer{
  background-color:#e1e2e3;
.Copyright-footer {
 color: black;
 font-weight: bold;
}

.Privacypolicy {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.Term-con {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
}