.dv-subscribe {
  background-color: rgba(37, 117, 252, 0.1);
  margin-top: 3%;
  margin-bottom: 3%;

 
  .heading {
    padding-top: 5%;
    text-align: center;
    font-weight: bold;
  }
  .my-style{
    display: none;
  }

  .content {
    text-align: justify;
    font-weight: 400;
    font-size: 22px;
  }

  .btn {
    background-color: #0080ff;
    color: white;
    align-items: center;
    border-radius: 3px;
    padding: 10px;
  }
  .btn:hover {
    background-color: white;
    color: #0080ff;
    border-color: #0080ff;
    font-weight: 500;
  }

  .btn-style {
    text-align: center;
  }

  .input-style {
    text-align: center;
    position: relative;
  }

  .input-container {
    position: relative;
    
  }

  .input-type {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    width: 100%;

    border-color: #0080ff;
  }
  .email-icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust the value to control the icon's position */
    transform: translateY(-50%);
    width: 30px; /* Adjust the width and height as needed */
    height: 30px;
  }
  .red-color {
    color: red;
    // You can add more styling as needed
  }

  @media (min-width: 320px) and (max-width: 768px) {
    .heading{
    font-size: 15px;
    padding-top: 40px;
      
    }
    .my-style{
      display: none;
    }
    .content {
      text-align: justify;
      font-weight: 400;
      font-size: 14px;
      color: rgb(112, 111, 112);
      
    }

    .input-type {
      padding: 10px;
      font-size: 12px;
      border-radius: 5px;
     
      border-color: #0080ff;
    }
    .email-icon {
      position: absolute;
      top: 50%;
      right: 10px; /* Adjust the value to control the icon's position */
      transform: translateY(-50%);
      width: 20px; /* Adjust the width and height as needed */
      height: 20px;
    }
    .btn {
      background-color: #0080ff;
      color: white;
      align-items: center;
      border-radius: 4px;
      padding: 8px;
      font-size: 12px;
    }
  }
  
}
